<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
    {{ partial "header-pub.html" . }}

    <div class="container">
      <h1>{{ .Title }}</h1>
      {{ with .Params.authors }}<p class="pub-authors">{{ delimit . ", " " & " }}</p>{{ end }}

      {{ if not .Params.no_links }}
      	<p>{{ partial "publinks.html" (dict "content" . "has_abstract" false) }}</p>
      {{ end }}

      {{ .Content }}
  	</div>

  {{ partial "section_pager.html" . }}

  {{ partial "footer.html" . }}
</body>
</html>
