<h3 class="post-title">
  <a href="{{ .Permalink }}">{{ .Title }}</a>
</h3>
{{ if .Params.image }}
  <div class="post-banner">
    <a href="{{ .Permalink }}" class="post-banner">
      <img src="{{ "/img/" | relURL }}{{ .Params.image }}" alt="{{ .Title }}">
    </a>
  </div>
{{end}}
{{ partial "article_metadata" (dict "content" . "is_list" 1) }}
<div class="post-style" itemprop="articleBody">
  {{ if .Params.summary }}
    <p>{{ printf "%s" .Params.summary | markdownify }}</p>
  {{ else if .Truncated }}
    {{ .Summary | markdownify }}
  {{ else }}
    {{ .Content | markdownify }}
  {{ end }}
</div>
<p class="read-more">
  <a href="{{ .Permalink }}" class="btn btn-primary btn-outline">
    Continue reading &rarr;
  </a>
</p>
