<!-- Title -->
<header id="home">
  <a href="{{ "/" | relURL }}"><h1 class="header">{{ .Site.Title }}</h1></a>
</header>
<!-- Nav Bar -->
<nav class="top">
  {{ range .Site.Menus.main }}
    <a href="{{ .URL | relURL }}"{{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}>
      {{ .Name }}
    </a>
  {{ end }}
</nav>

<header>
  {{ if ne .IsNode true }}
  <h1>{{ .Title }}</h1>
  <time datetime="{{ .Date }}">{{ dateFormat "02/01/2006" .Date }}</time>
  {{ end }}

<!--   {{ if and .IsHome (isset .Site.Params "Tagline") }}
  <p>{{ .Site.Params.Tagline }}</p>
  {{ end }} -->
</header>
