<li>
  <!-- Authors -->
  {{ with .Params.authors }}<span class="pub-authors">{{ delimit . ", " " &amp; "}}</span>{{ end }}.
  <!-- Title -->
  &ldquo;<span class="pub-title">{{ .Title }}</span>&rdquo;.
  <!-- Journal -->
  In <span class="pub-journal">{{ .Params.publication }}</span>,
  <!-- Pagination -->
  <span class="pub-pages">{{ .Params.pages | markdownify }}</span>,
  <!-- Date -->
  <span class="pub-date">{{ dateFormat "Jan. 2006" .Date }}</span>.
  <!-- Note, if any -->
  {{ with .Params.note }}<p class="pub-note">{{ . | markdownify }}.</p>{{ end }}
  <!-- Links -->
  {{ partial "publinks.html" (dict "content" . "link_det" true ) }}
</li>
