{{ with .Params.work }}
  <h3>Working experience</h3>
  {{ if .intro }}
    <p>{{ .intro | markdownify }}</p>
  {{ end }}
  {{ range .experience }}
    <div class=cv-container>
      <div class="cv-left">
        <span class="cv-header"><span class="cv-title">{{ .title }}</span> at {{ .organization | markdownify }}.</span>
        <span class="cv-date">{{ .start}} &ndash; {{ .finish }}</span>
      </div>
      <div class="cv-left">
        <p>{{ .explanation | markdownify }}</p>
      </div>
    </div>
  {{ end }}
  {{ if .outro }}
    <p>{{ .outro | markdownify }}</p>
  {{ end }}
{{ end }}

{{ with .Params.teach }}
  <h3>Teaching</h3>
  {{ if .intro }}
    <p>{{ .intro | markdownify }}</p>
  {{ end }}
  {{ range .courses }}
    <div class=cv-container>
      <div class="cv-left">
        <span class="cv-header"><span class="cv-title">{{ .course }}</span></span>
        <span class="cv-date">{{ .start}} &ndash; {{ .finish }}</span>
      </div>
      <div class="cv-left">
        <p>{{ .info | markdownify }}</p>
      </div>
      </div>
    </div>
  {{ end }}
  {{ if .outro }}
    <p>{{ .outro | markdownify }}</p>
  {{ end }}
{{ end }}

{{ with .Params.service }}
  <h3>Academic services</h3>
  {{ if .intro }}
    <p>{{ .intro | markdownify }}</p>
  {{ end }}
  {{ range .services }}
    <div class=cv-container>
      <div class="cv-left">
        <span class="cv-header"><span class="cv-title">{{ .title }}</span></span>
      </div>
      <div class="cv-left">
        <p>{{ .info | markdownify }}</p>
      </div>
      </div>
    </div>
  {{ end }}
  {{ if .outro }}
    <p>{{ .outro | markdownify }}</p>
  {{ end }}
{{ end }}

{{ with .Params.education }}
  <h3>Education</h3>
  {{ if .intro }}
    <p>{{ .intro | markdownify }}</p>
  {{ end }}
  {{ range .courses }}
    <div class=cv-container>
      <div class="cv-left">
        <span class="cv-header"><span class="cv-title">{{ .course }}</span> at {{ .institution | markdownify }}.</span>
        <span class="cv-date">{{ .start}} &ndash; {{ .finish }}</span>
      </div>
      <div class="cv-left">
        <p>{{ .info | markdownify }}</p>
      </div>
    </div>
  {{ end }}
  {{ if .outro }}
    <p>{{ .outro | markdownify }}</p>
  {{ end }}
{{ end }}