<ul class="pub-links">
	{{ if .link_det }}
		<li><a href="{{ .content.Permalink }}">
			details
		</a></li>
	{{ end }}
	{{ with .content.Params.url_pdf }}
		<li><a href="{{ . | relURL }}">
		  .pdf
		</a></li>
	{{ end }}
	{{ with .content.Params.url_preprint }}
		<li><a href="{{ . | relURL }}">
		  preprint.pdf
		</a></li>
	{{ end }}
	{{ with .content.Params.ext_preprint }}
		<li><a href="{{ . | absURL }}">
		  preprint.pdf
		</a></li>
	{{ end }}
	{{ with .content.Params.pdf_abstract }}
		<li><a href="{{ . | relURL }}">
		  abstract.pdf
		</a></li>
	{{ end }}
	{{ with .content.Params.pdf_slides }}
		<li><a href="{{ . | relURL }}">
		  slides.pdf
		</a></li>
	{{ end }}
	{{ with .content.Params.pdf_poster }}
		<li><a href="{{ . | relURL }}">
		  poster.pdf
		</a></li>
	{{ end }}
	{{ with .content.Params.code }}
		<li><a href="{{ . | absURL }}">
		  code
		 </a></li>
	{{ end }}
	{{ with .content.Params.doi }}
		<li><a href="{{ printf "https://dx.doi.org/%s" . }}">
		  doi:{{ . }}
		</a></li>
	{{ end }}
	{{ with .content.Params.hdl }}
		<li><a href="{{ printf "https://hdl.handle.net/%s" . }}">
		  hdl:{{ . }}
		</a></li>
	{{ end }}
</ul>
