<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>
      {{ partial "header.html" . }}

      <div class="container">
        <!-- About me section / content -->
        {{ .Content | markdownify }}
        {{ partial "totop.html" }}

        <!-- Publications -->
        <h2 id="publications">Scientific output</h2>
        {{ partial "publications.html" . }}
        {{ partial "totop.html" . }}

        <!-- CV -->
        <h2 id="cv">Academic CV</h2>
        {{ partial "cv.html" . }}
        {{ partial "totop.html" . }}

        <!-- Contact details -->
        <h2 id="contact">Contact</h2>
        {{ partial "contact.html" . }}
        {{ partial "totop.html" . }}


      </div>

      {{ partial "footer.html" . }}
  </body>
</html>
